# System / OS
.DS_Store

# Logs
*.log

# IDE
.vscode/

# Local Tools (not part of the repo source)
.tools/

# GP-2026-STRICT: Ignore automated bridge configurations
BrrrDebugBridge/config.lua

# Local Dumps and Analysis
.dump/

#backups
backups
